body {
    font-family: sans-serif;
    margin: 0;
}

#showcase-container {
    width: 790px;
    height: 349px;
    background-image: linear-gradient(to bottom, #FFFFFF 95%, #E5F1FB);
    border-radius: 8px;
    box-shadow: #D2D9E1 2px 2px 1px;
}

#you-visited {
    width: 190px;
    float: left;
}

#may-like {
    width: 600px;
    float: right;
}

#you-visited p {
    border-top-left-radius: 8px;
}

#may-like p {
    border-top-right-radius: 8px;    
}

.title {
    margin: 0;
    font-weight: bold;
    color: #00669F;
    background-image: linear-gradient(to bottom, #EFF7FE 40%, #E5F1FB 60%);
    line-height: 40px;
    text-indent: 10px;
}

.product-container {
    margin: 10px;
    padding: 5px;
    width: 160px;
}

.product-container:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #D7EAF9, #FFFFFF 110%);
}

.product-container:hover .product-image-container {
    border: 2px solid #BDD0E0;
}

.product-container .product-image-container {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    height: 130px;
}

.product-container .product-image {
    display: block;
    margin: 0 auto;
}

.product-container .product-details-container {
    margin-top: 15px;
    padding: 0 5px;
}

.product-container div.product-name {
    margin-bottom: 10px;
}

.product-container div.product-name, .product-container div.old-price, .product-container div.price, .product-container div.payment-conditions {
    font-size: 11px;
}

.product-container div.old-price {
    margin-bottom: 2px;
}

.red-ink {
    color: #CC0000;
}

.product-container div.price strong {
    font-size: 16px;
}

.slider-content {
    overflow-x: hidden;
    border-left: 1px solid #EEEEEE;
}

.scrollable-container {
    width: 2000px;
}

.slider-content .product-container {
    float: left;
}
